html, body { background: #000; margin: 0px; padding: 0px; color: #fff; overflow: hidden;}

:webkit-full-screen { width: 100%; height: 100%; }

#game { display: block; overflow: hidden; }
canvas { image-rendering: optimizeSpeed; -ms-interpolation-mode: nearest-neighbor; -webkit-optimize-contrast; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); -ms-touch-action: none; }
canvas { display: block; margin: 0 auto; cursor: none;  }

#o { position: absolute; top: 0px; left: 0px; z-index: 2; width: 100%; height: 100%; background: transparent url(media/o.png) center center no-repeat; display: none; color: #fff; }
#o p { text-align: center; font-size: 150%; padding-top: 1em; text-transform: uppercase; width: 50%; margin: 0 25%; font-weight: bold; text-shadow: 1px 1px rgba(0,0,0,0.3); }

#ad { display: none; position: absolute; z-index: 5000; left: 0px; bottom: 80px; width: 320px; height: 60px; color: #fff; background: #000; text-align: center; }
#adLarge { display: none; position: absolute; z-index: 30000; left: 0px; top: 10px; width: 300px; height: 250px; color: #fff; background: #000; text-align: center; }
#o { display: none; }
